@page "/"
@using DA.Example.Todo.Model
@using System.Globalization
@inherits Home_Code
@rendermode InteractiveServer
<PageTitle>ToDo-Lists</PageTitle>

<h1>ToDo-Lists</h1>
@{
	if (!Loading)
{
	<QuickGrid TGridItem="TodoList" Items="TodoLists?.AsQueryable()">
		<TemplateColumn Title="Name">
		<a href="ListDetails/@context.ID">@context.Name</a>
		</TemplateColumn>

		<PropertyColumn Title="Erstellt am" Property="@(l => l.CreationDate)"
			Format="@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern"/>
	</QuickGrid>
}
else
{
	<span>Lade Daten...</span>
}
	<h3>new List</h3>
	@if (!Loading && editContext != null)
	{

		<EditForm OnValidSubmit="OnNewListSubmittedAsync" EditContext="@editContext">
			<div class="form-group">
				<label>Name:</label>
				<InputText @bind-Value="@NewItem.Name" />
				<button type="submit" class="btn btn-primary">create</button>
			</div>
		</EditForm>
	}
	else
	{
		<span>Lade Daten...</span>
	}
}