@page "/ListDetails/{ListID:int}"
@using DA.Example.Todo.Model
@using System.Globalization
@rendermode InteractiveServer
@inherits ListDetails_Code
<h3>ListDetails</h3>
@{
	if (!Loading)
	{
		<!-- @bind und @bind-after funktioniert hier nicht, weil Checked readonly ist -->
		<QuickGrid TGridItem="TodoListItem" Items="@Items.AsQueryable()">
			<TemplateColumn Title="Erledigt" Context="item">
				<input type="checkbox" checked="@item.Checked" @onchange="@(e=>OnCheckedChangedAsync(item, (bool)e.Value!))"/>
			</TemplateColumn>
			<PropertyColumn Title="Name" Property="@(i => i.Name)" />
			<PropertyColumn Title="Erledigt am" Property="@(i => i.CheckedDate)"
							Format="@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern" />
			<PropertyColumn Title="Erstellt am" Property="@(i => i.CreationDate)"
							Format="@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern" />
			<TemplateColumn Title="Aktionen" Context="item">
				<img src="/img/delete.png" width="15" height="15" @onclick="(e)=>DeleteItemAsync(item)"/>
			</TemplateColumn>
		</QuickGrid>
	}
	else
	{
		<span>Lade Daten...</span>
	}
	<h3>new Item</h3>
	@if (!Loading && editContext != null)
		{
	
	<EditForm OnSubmit="OnNewItemSubmittedAsync" EditContext="@editContext" FormName="CreateTodoItemForm">
		<div class="form-group">
			<label>Name:</label>
			<InputText @bind-Value="@NewItem.Name" />
			<button type="submit" class="btn btn-primary">create</button>
		</div>
	</EditForm>
		}
	else
	{
		<span>Lade Daten...</span>
	}
}
