@page "/ListDetails/{ListID:int}"
@using DA.Example.Todo.Model
@using System.Globalization
@rendermode InteractiveServer

<h3>ListDetails</h3>
@{
	if (!Loading)
	{
		<!-- @bind und @bind-after funktioniert hier nicht, weil Checked readonly ist -->
		<QuickGrid TGridItem="TodoListItem" Items="@Items.AsQueryable()">
			<TemplateColumn Title="Erledigt" Context="item">
				<input type="checkbox" checked="@item.Checked" @onchange="@(e=>OnCheckedChangedAsync(item, (bool)e.Value!))"/>
			</TemplateColumn>
			<PropertyColumn Title="Name" Property="@(i => i.Name)" />
			<PropertyColumn Title="Erledigt am" Property="@(i => i.CheckedDate)" />
			<PropertyColumn Title="Erstellt am" Property="@(i => i.CreationDate)"
							Format="@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern" />
		</QuickGrid>
	}
	else
	{
		<span>Lade Daten...</span>
	}
}
